In [2]:
import pandas as pd
import os
import json
import sqlite3
import pymongo
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.ensemble import IsolationForest

file_path = r"C:\\Users\\Aved\\Desktop\\Jupyter Notebook\\data_sets\\database.sqlite"
file_extension=os.path.splitext(file_path)[1].lower()

In [3]:
# CSV file

if file_extension == '.csv':
    print("File type is CSV")
    print()
    student_data = pd.read_csv(file_path)
    print(student_data.head())

In [14]:
# EXCEL Spreadsheet
file_path = r"C:\\Users\\Aved\\Desktop\\Jupyter Notebook\\data_sets\\file_path.xlsx"
if file_extension in('.xls','.xlsx'):
    print(f"File type is {file_extension}")
    df=pd.read_excel(file_path)
    print(df.head())

In [ ]:
# TSV file

In [ ]:
# TEXT file

In [7]:
# if file_type == 'SQL dump (Structured Query Language)':
if file_extension == '.sqlite':
    db_path = file_path
    conn = sqlite3.connect(db_path)  # Establish a connection to the SQLite database
  
    table_query = "SELECT name FROM sqlite_master WHERE type='table';"    # Query to list all tables in the database
    tables = pd.read_sql(table_query, conn)

    print("File type is SQL-dump")
    print()

    print("Tables in the database:")
    print(tables['name'].tolist())  

    for table_name in tables['name']:                   # This section of code displays the whole table
        print(f"\nReading data from table: {table_name}")
        query = f"SELECT * FROM {table_name}"
        table_data = pd.read_sql(query, conn)  
        print(table_data.head()) 

    conn.close()  # Close the database connection

else:
    print("Unsupported file format.")

File type is SQL-dump

Tables in the database:
['Player', 'Extra_Runs', 'Batsman_Scored', 'Batting_Style', 'Bowling_Style', 'Country', 'Season', 'City', 'Outcome', 'Win_By', 'Wicket_Taken', 'Venue', 'Extra_Type', 'Out_Type', 'Toss_Decision', 'Umpire', 'Team', 'Ball_by_Ball', 'sysdiagrams', 'sqlite_sequence', 'Match', 'Rolee', 'Player_Match']

Reading data from table: Player
   Player_Id      Player_Name                  DOB  Batting_hand  \
0          1       SC Ganguly  1972-07-08 00:00:00             1
1          2      BB McCullum  1981-09-27 00:00:00             2
2          3       RT Ponting  1974-12-19 00:00:00             2
3          4        DJ Hussey  1977-07-15 00:00:00             2
4          5  Mohammad Hafeez  1980-10-17 00:00:00             2

   Bowling_skill  Country_Name
0            1.0             1
1            1.0             4
2            1.0             5
3            2.0             5
4            2.0             6

Reading data from table: Extra_Runs
   Match_Id  Over_Id  Ball_Id  Extra_Type_Id  Extra_Runs  Innings_No
0    335987        1        1              1           1           1
1    335987        1        2              2           1           2
2    335987        1        3              2           1           1
3    335987        1        7              1           1           1
4    335987        2        3              1           4           2

Reading data from table: Batsman_Scored
   Match_Id  Over_Id  Ball_Id  Runs_Scored  Innings_No
0    335987        1        1            0           1
1    335987        1        1            1           2
2    335987        1        2            0           1
3    335987        1        3            0           2
4    335987        1        4            0           1

Reading data from table: Batting_Style
   Batting_Id    Batting_hand
0           1   Left-hand bat
1           2  Right-hand bat

Reading data from table: Bowling_Style
   Bowling_Id          Bowling_skill
0           1       Right-arm medium
1           2     Right-arm offbreak
2           3  Right-arm fast-medium
3           4        Legbreak googly
4           5  Right-arm medium-fast

Reading data from table: Country
   Country_Id  Country_Name
0           1         India
1           2  South Africa
2           3         U.A.E
3           4   New Zealand
4           5     Australia

Reading data from table: Season
   Season_Id  Man_of_the_Series  Orange_Cap  Purple_Cap  Season_Year
0          1                 32         100         102         2008
1          2                 53          18          61         2009
2          3                133         133         131         2010
3          4                162         162         194         2011
4          5                315         162         190         2012

Reading data from table: City
   City_Id   City_Name  Country_id
0        1   Bangalore           1
1        2  Chandigarh           1
2        3       Delhi           1
3        4      Mumbai           1
4        5     Kolkata           1

Reading data from table: Outcome
   Outcome_Id Outcome_Type
0           1       Result
1           2    No Result
2           3    Superover

Reading data from table: Win_By
   Win_Id   Win_Type
0       1       runs
1       2    wickets
2       3  NO Result
3       4        Tie

Reading data from table: Wicket_Taken
   Match_Id  Over_Id  Ball_Id  Player_Out  Kind_Out  Fielders  Innings_No
0    335987        2        1           6         2       NaN           2
1    335987        3        2           8         2       NaN           2
2    335987        5        5           9         1      83.0           2
3    335987        6        2           1         1       9.0           1
4    335987        6        2           7         1       3.0           2

Reading data from table: Venue
   Venue_Id                                  Venue_Name  City_Id
0         1                       M Chinnaswamy Stadium        1
1         2  Punjab Cricket Association Stadium, Mohali        2
2         3                            Feroz Shah Kotla        3
3         4                            Wankhede Stadium        4
4         5                                Eden Gardens        5

Reading data from table: Extra_Type
   Extra_Id Extra_Name
0         1    legbyes
1         2      wides
2         3       byes
3         4    noballs
4         5    penalty

Reading data from table: Out_Type
   Out_Id      Out_Name
0       1        caught
1       2        bowled
2       3       run out
3       4           lbw
4       5  retired hurt

Reading data from table: Toss_Decision
   Toss_Id Toss_Name
0        1     field
1        2       bat

Reading data from table: Umpire
   Umpire_Id Umpire_Name  Umpire_Country
0          1   Asad Rauf               6
1          2   MR Benson              10
2          3   Aleem Dar               6
3          4    SJ Davis              10
4          5   BF Bowden               4

Reading data from table: Team
   Team_Id                    Team_Name
0        1        Kolkata Knight Riders
1        2  Royal Challengers Bangalore
2        3          Chennai Super Kings
3        4              Kings XI Punjab
4        5             Rajasthan Royals

Reading data from table: Ball_by_Ball
   Match_Id  Over_Id  Ball_Id  Innings_No  Team_Batting  Team_Bowling  \
0    335987        1        1           1             1             2
1    335987        1        1           2             2             1
2    335987        1        2           1             1             2
3    335987        1        2           2             2             1
4    335987        1        3           1             1             2

   Striker_Batting_Position  Striker  Non_Striker  Bowler
0                         1        1            2      14
1                         1        6            7     106
2                         2        2            1      14
3                         2        7            6     106
4                         2        2            1      14

Reading data from table: sysdiagrams
          name  principal_id  diagram_id  version  \
0  IPL_Diagram             1           1        1

                                          definition
0  b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00...

Reading data from table: sqlite_sequence
          name  seq
0  sysdiagrams    1

Reading data from table: Match
   Match_Id  Team_1  Team_2           Match_Date  Season_Id  Venue_Id  \
0    335987       2       1  2008-04-18 00:00:00          1         1
1    335988       4       3  2008-04-19 00:00:00          1         2
2    335989       6       5  2008-04-19 00:00:00          1         3
3    335990       7       2  2008-04-20 00:00:00          1         4
4    335991       1       8  2008-04-20 00:00:00          1         5

   Toss_Winner  Toss_Decide  Win_Type  Win_Margin  Outcome_type  Match_Winner  \
0            2            1         1       140.0             1           1.0
1            3            2         1        33.0             1           3.0
2            5            2         2         9.0             1           6.0
3            7            2         2         5.0             1           2.0
4            8            2         2         5.0             1           1.0

   Man_of_the_Match
0               2.0
1              19.0
2              90.0
3              11.0
4               4.0

Reading data from table: Rolee
   Role_Id      Role_Desc
0        1        Captain
1        2         Keeper
2        3         Player
3        4  CaptainKeeper

Reading data from table: Player_Match
   Match_Id  Player_Id  Role_Id  Team_Id
0    335987          1        1        1
1    335987          2        3        1
2    335987          3        3        1
3    335987          4        3        1
4    335987          5        3        1

In [12]:
# This code only shows 5 rows by default ( CODE FOR SQL Dump)

#file_extension=os.path.splitext(file_path)[1].lower()
#if file_extension == '.sqlite':
#    db_path = file_path
#    conn = sqlite3.connect(db_path)
#    table_query = "SELECT name FROM sqlite_master WHERE type='table';" 
#    tables = pd.read_sql(table_query, conn)

#    df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
#    csv_file = r"C:\\Users\\Aved\\Desktop\\Jupyter Notebook\\data_sets\\output.csv"
   
#    df.to_csv(csv_file, index=False)
    
#    conn.close()

#print(f"Data has been successfully exported to {csv_file}")

#print(df.head())

Data has been successfully exported to C:\\Users\\Aved\\Desktop\\Jupyter Notebook\\data_sets\\output.csv
   Match_Id  Player_Id  Role_Id  Team_Id
0    335987          1        1        1
1    335987          2        3        1
2    335987          3        3        1
3    335987          4        3        1
4    335987          5        3        1

In [ ]:
# NoSQL/BJSON file